<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
        <div>
            <form method="post" action="{% url 'Ajout_event' %}">
                {% csrf_token %}
                <label for="Titre"></label>
                <input type="text" name="Titre" id="Titre">
                <label for="organisateur_nom"></label>
                <input type="text" name="organisateur_nom" id="organisateur_nom">

            <button type="submit">Ajouter un événement</button>
            </form>
        </div>

</body>
</html>